@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    
    color: white;
    margin:0;
    padding:0 !important;
    
}

body{
    width: 100% !important;
    background: #1A1C22 !important;
}






.container2{
    width: 100%;
    overflow: hidden;
    margin:0;
    padding:0;
    box-sizing: border-box;    
}

.navbar{
    width: 100% ;
    display: flex;
    align-items: center;
    height: 4rem;
    background: #1A1C22 !important;
    margin-bottom: 5rem!important;
    
}


.logo {
    background: #1A1C22;
    margin-top: 0.5rem;
    width: 8rem;
    margin-left: 2rem!important;
}

.menu_icon{
    width: 25px;
    cursor: pointer;
    display: none;
}


nav{
    flex:1;
    text-align: right;
    margin-bottom: 1.5%;
    margin: 0 0 !important;
}

nav ul li{
    list-style: none;
    display: inline-block !important;
    margin-right:30px !important;
    
}

nav ul li a{
    text-decoration:none;
    color: white !important;
    font-size: 18px;
   
}

nav ul li a:hover{
    color:grey;
}


.intro{
    margin:0.1rem auto;    /*issue*/
    width: 70%;
    margin-top: 5rem!important;
    padding-bottom: 6rem;
}

.intro img{
    margin-top: 1rem;
    height: 35rem;
    width: 23rem;
    float: left;
    border: 0.1rem solid;
    border-radius: 20px;
    margin-right: 3rem;
}

.text{
    margin-top: 7rem;
}
.text h1{
    
    font-size: 40px;
    margin-bottom: 0.3rem;
}

.text p {
    font-size: 20px;
    margin-top: 1rem;
}

.test{
    color: white;
}

.edu{
    margin-top: 18rem;
    margin-bottom: 3rem;
}

.edu h3{
    font-size: 40px;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.edu ul{
    margin-left: 5rem;
}

.edu ul li{
    font-size: 20px;
}

.skills{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.skills h3{
    font-size: 40px;
    margin-left: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
}

.item img{
    width: 30rem;
    height: 30rem;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}
.multi-item-carousel .carousel-inner .next {
    left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}
@media all and (transform-3d),(-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        
        
   }
}
.multi-item-carousel .carouse-control.left, .multi-item-carousel .carouse-control.right {
    background-image: none;
}


.project{
    margin-top: 3rem!important;
}


.project h3{
    font-size: 40px;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.project h5{
    font-size: 30px;
    margin-left: 6rem;
}

.project a{
    font-size: 20px;
    margin-left: 8rem;
    margin-top: 1.2rem;
}

.carousel-item .carousel-indicators{
    height: 30rem;
    align-items: center;
    
}
.two{
    margin: auto auto;
    margin-top: 2rem;
    margin-bottom: 3rem;   
    width: 90%;
    align-items: center;
}

.contact{
    margin-top: 7.5rem;
    flex:1;
    text-align: center;
    margin-bottom: 1.5%;
}


.contact h3{
    font-size: 30px;
    margin: auto auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    
}

.contact ul li{
    list-style: none;
    display: inline-block;
    
    
}

.contact ul li a{
    text-decoration:none;
    color: white;
    

}

.contact ul li a img{
    width:3rem;
    height:3rem;
    margin: 0.25rem 0.25rem;
}

.contact p{
    margin-top: 1rem;
    font-size: 18px;
}

@media only screen and (max-width:700px){
    
    nav ul{
        width:100%;
        background-color: #1A1C22 ;
        opacity: .90;
        position:absolute;
        top: 45px;
        right:0;
        z-index: 2;
    }
    nav ul li{
        display: block !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    

    nav ul li a{
        color: white;
    }
    .menu_icon{
        display: block;
        padding-right: 1.5rem;
    }
    #menuList{
        overflow:hidden;
        transition: 0.5s;
    }
    #move{
        overflow: hidden;
        transition: .25s;
    }
    .intro img{
        width: 12rem;
        height:15rem;
        margin-top: 0.5rem;
        margin-bottom: 1.4em;
        margin-left: 50%;
        transform: translateX(-50%);
        display: block;

    }

    .text{
        margin-top: 16rem;
    }
    
    .text h1{
        
        font-size: 20px;
        display: block;
    }

    .swiper-navBtn {
        display: none;
    }

    .skills h3{
        margin-top: 0.5rem;
    }

    


    .intro{
        margin: 0.1rem auto;    
        width:65%;
        padding-bottom: 6rem;
    }
    
    
    .edu{
        margin-top: 5rem;
    }

    .item img{
        width: 12rem;
        height: 12rem;
    }

}